body {
    background-color: #e6eff1;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.save {
    margin-bottom: 5px;
}

#wait {
    margin-left: 21%;
}

.scrape {
    margin-right: 20px;
}

hr {
    border-color: rgb(241, 202, 147);

}

.hrArticle {
    border-style: dashed;
    border-color: 
}


/*MODAL*/
.modal-content {
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 12%;
    border-radius: 0;
    font-family: 'Rock Salt', cursive;
    color: #777;
  
  }
  
  .modal-body {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
  }
  
  .noteInput {
    width: 100%;
    height: 2em;
    background: transparent;
    border: none;
    font-size: 2em;
    border-bottom: 2px solid #777;
  }
  
  #submitNote {
    background: transparent;
    border: 2px solid #777;
    font-size: 2em;
  }
  
  .instructions {
    display: inline-block;
    margin-right: 5em;
  }
  
  .noteTitle {
    display: inline-block;
    font-size: 2.5em;
    margin: 0;
  }
  
  .deleteNote {
    font-size: 2.5em;
    background: transparent;
    color: #777;
    border: none;
  }
  
